/* css/style.css */

/* Esto activa el modo oscuro global de Ionic */
:root {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-card-background: #1c1c1e;
}

/* Ajuste opcional para que los items se vean mejor en negro */
ion-item {
  --background: #121212;
  --color: white;
}

/* Para que el contenedor de login no se vea blanco */
.login-container {
    background-color: #000;
    color: white;
    height: 100vh;
}